* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-main-children-cadastrar{
    padding: 1vw 2vw;
}

.content-main-children-cadastrar .title{
    color: black;
    font-size: 2.5vw;
    margin-bottom: 2vw;
}

form {
    display: flex;
    flex-direction: column;
}
  
form section {
    margin-bottom: 1.5vw;
}
  
label {
    font-weight: 500;
    display: block;
    font-size: 1.2vw;
    color: #1d1d1d;
}
  
input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="file"],
select,
textarea,
.ck-editor__editable,
.datalist {
    width: 100%;
    padding: 0.6vw;
    margin-top: 0.4vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.4vw;
    font-size: 1.1vw;
    background-color: white;
    color: #1d1d1d;
}

input[type="file"]{
    color: #1d1d1d;
}

/* Alterar cor do ícone de calendário */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: black; /* Define a cor */
    filter: invert(0%) brightness(0%) contrast(100%); /* Garante que o ícone fique preto */
    cursor: pointer; /* Mostra o cursor de clique */
}
  
textarea {
    height: 8vw;
    resize: vertical;
}

.ck-editor__editable {
    min-height: 5vw;
}

input::placeholder{
    color: #8f8f8f;
    font-weight: 500;
    font-size: 1vw;
}

.input-group{
    display: flex;
    gap: 2vw;
    align-items: center;
    margin: 0;
}

.input-group-equipamento{
    display: flex !important;
    gap: 2vw;
    align-items: initial;
    margin: 2vw 0;
}

.input-group > section{
    width: 50%;
}
  
.itens-locacao{
    border: 1px solid rgb(179, 179, 179);
    padding: 1vw;
    border-radius: 0.4vw;
    margin: 1vw 0 2vw 0;
}

.itens-locacao-header{
    display: flex;
    justify-content: space-between;
    margin: 1vw 0;
}

.itens-locacao-header p{
    color: #1d1d1d;
    font-size: 1.6vw;
    font-weight: bold;
}

.input-equipamento{
    width: 100% !important;
}

.input-equipamento-width-100{
    width: 100% !important;
}

.input-cliente{
    width: 97% !important;
}

.input-estatico{
    background-color: #d9d9d9 !important;
    border-color: #a8a8a8 !important;
    cursor: not-allowed;
}

.box-cadastrar-cliente{
    width: 3% !important;
    display: flex;
    justify-content: center;

}

.tipo-equipamento{
    display: flex;
    gap: 2vw;
    margin: 0.7vw 0 2vw 0;
}

.msg-obs{
    font-weight: bold;
    font-size: 1vw;
    color: rgb(180, 15, 15);
    margin-top: 0.5vw;
}

.thead-itens-locacao, .tbody-itens-locacao{
    font-size: 1.2vw;
}

.itens-locacao-footer{
    margin-top: 4vw;
    display: flex;
    gap: 0.4vw;
    align-items: center;
    font-size: 1.3vw;
    color: #1d1d1d;
}
  
.valor-total-box{
    padding: 0.4vw 0.7vw;
    border: 0.1vw solid rgb(126, 126, 126);
    border-radius: 0.4vw;
}

.container-valor-final{
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.box-desconto{
    width: 100%;
}

.box-valor-final{
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    font-size: 1.3vw;
    color: #1d1d1d;
}

.content-main-children-cadastrar .container-btn{
    display: flex;
    justify-content: end;
    margin: 2vw 0;
}

.content-main-children-cadastrar .btn-cadastrar, .btn-voltar, .btn-alterar, .btn-add    {
    padding: 0.8vw 2vw;
    font-weight: 500;
    border-radius: 0.5vw;
    font-size: 1.2vw;
    margin-left: 2vw;
    cursor: pointer;
}

.content-main-children-cadastrar .btn-cadastrar, .btn-alterar{
    background-color: rgb(0, 110, 255);
    color: white;
    border: 0.1vw solid rgb(26, 118, 238);
}

.content-main-children-cadastrar .btn-cadastrar:hover, .btn-alterar:hover{   
    background-color: rgb(32, 129, 255);
}

.content-main-children-cadastrar .btn-voltar{
    background-color: rgb(219, 219, 219);
    color: rgb(54, 54, 54);
    border: 0.1vw solid rgb(199, 199, 199);
}

.content-main-children-cadastrar .btn-voltar:hover{   
    background-color: rgb(206, 206, 206);
}

.content-main-children-cadastrar .btn-add{
    background-color: rgb(218, 143, 30);
    color: white;
    border: 0.1vw solid rgb(207, 130, 14);
}

.content-main-children-cadastrar .btn-add:hover{   
    background-color: rgb(224, 155, 51);
}

.content-main-children-cadastrar .fa-plus-circle{
    color: rgb(32, 129, 255);
    font-size: 3vw;
    font-weight: bold;
}

.content-main-children-cadastrar .fa-plus-circle:hover{
    color: rgb(55, 142, 255);
}

.container-info-locacao{
    display: none;
}

.title-image-table{
    color: #1d1d1d;
    font-size: 1.2vw;
}

.image-upload {
    display: flex;
    flex-direction: column;
    gap: 0vw;
}
  
.image-upload label {
    font-size: 1.3vw;
    font-weight: bold;
}
  
.image-upload .input-img {
    padding: 1vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.4vw;
    width: 100%;
}

.image-table{
    margin-top: 2vw;
}
  
.image-table h2 {
    font-size: 1.3vw;
    margin-bottom: 1vw;
}
  
.image-table table {
    width: 100%;
    border-collapse: collapse;
}
  
.image-table th, 
.image-table td {
    padding: 1vw;
    text-align: center;
    border: 0.1vw solid #ddd;
    font-size: 1.5vw;
}
  
.image-table img {
    width: 10vw;
    border-radius: 0.4vw;
    transition: transform 0.3s ease;
}
  
.image-table img.selected {
    border: 0.2vw solid #28a745;
    transform: scale(1.1);
}
  
.image-table .btn-default {
    background-color: #007bff;
    color: white;
    padding: 0.8vw 1.2vw;
    border: none;
    border-radius: 0.4vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.image-table .btn-default:hover {
    background-color: #0056b3;
}
  
.image-table .btn-selected {
    background-color: #28a745;
    color: white;
    padding: 0.8vw 1.2vw;
    border: none;
    border-radius: 0.4vw;
    cursor: pointer;
}

.td-img-table-locacao{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-table-locacao{
    width: 5vw;
    height: 4vw;
}

@media (max-width: 60vw) {
    
}
