* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-main-children{
    font-family: "Roboto", sans-serif;
}

.header-classificados{
    width: 100vw ;
    border-bottom: none;
    box-shadow: none;
}

.info-classificados{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(47, 47, 47);
    box-shadow: 0.5vw 0.3vw 1vw rgba(0, 0, 0, 0.182);
    border-bottom: 0.1vw solid rgb(202, 202, 202);
    padding: 1vw 4vw;
}

.img-logo img{
    width: 6vw;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}

.endereco-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.7vw;
}

.endereco, .telefone, .whatsapp{
    display: flex;
    align-items: center;
    justify-content: center;
}

.endereco p, .telefone p, .whatsapp p{
    color: white;
    font-size: 1.3vw;
    font-weight: bold;
    letter-spacing: 0.01vw;
}

.links-classificados-mobile{
    display: none;
}

.links-classificados{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(232, 167, 17);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.080), 0 6px 16px rgba(0, 0, 0, 0.080); /* Efeito de sombra suave */
    margin-top: -0.07vw;
    padding: 0 3vw; 
}

.menu{
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    letter-spacing: 0.1vw;
    font-weight: bold;
    font-size: 1.4vw;
    color: rgb(47, 47, 47);
}

.menu > li{
    padding: 1.2vw 2vw;
}

.menu > li:hover{
    background-color: rgb(50, 50, 50);
    color: white;
    cursor: pointer;
}

.faWhatsapp, 
.faFacebook,
.faInstagram{
    font-size: 2vw;
    margin: 0 0.5vw;
} 

.faPhone,
.faMapMarkerAlt{
    font-size: 1.8vw;
    margin: 0 0.5vw;
}

.title-page{
    margin: 4vw 9vw 3vw 7vw;
    border-bottom: 0.2vw solid #7e7e7e;
}

.title-page h3{
    font-weight: bold;
    font-size: 3vw;
    color: #353535;
    letter-spacing: 0.1vw;
}

.title-page p{
    margin-top: 0.3vw;
    padding-bottom:  1vw;
    font-weight: 300;
    font-size: 1vw;
    color: #353535; 
}

.link-voltar:hover{
    text-decoration: underline;
    color: black;
}


/* MAIN */

.main-container {
    padding: 0 7vw;
    display: flex;
    flex-direction: row; /* Empilha os elementos verticalmente */
    height: auto;
    margin-bottom: 3vw;
}

.container-equipamentos{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.equipamentos {
    width: 78%;
    display: flex;
    flex-wrap: wrap; 
}

.card-equipamento {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 0.3vw;
    margin: 0 1vw 2vw 1vw;
    border: 0.1vw solid rgba(0, 0, 0, 0.161);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.080), 0 6px 16px rgba(0, 0, 0, 0.080); /* Efeito de sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animação para movimento e sombra */
}
  
.card-equipamento:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.150), 0 12px 24px rgba(0, 0, 0, 0.150);
    transform: translateY(-0.3vw); /* Move o card para cima */
}
  
.img-equipamento{
    width: 100%;
    height: auto;
}

.img-equipamento img {
    width: 100%;
    height: 15vw;
    object-fit: cover; /* Ajusta a imagem para cobrir completamente a área sem deformar */
    object-position: center; /* Centraliza a parte visível da imagem */
    border-radius: 0.3vw 0.3vw 0 0;
    border-bottom: 0.1vw solid rgba(0, 0, 0, 0.307);
}

.dados-equipamentos{
    padding: 1vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.dados-peca-implemento > h4, .dados-maquinas > h4{
    font-weight: bold;
    font-size: 1.2vw;
    color: #353535;
}

.dados-peca-implemento > h5, .dados-maquinas > h5{
    font-size: 1.15vw;
    margin-top: 0.5vw;
    color: #353535;
    font-weight: normal;
}

.dados-equipamentos p, .btn-voltar-classificados{
    font-size: 1.1vw;
    margin-top: 1.3vw;
    color: rgb(255, 251, 243) !important;
    font-weight: bold;
    letter-spacing: 0.08vw;
    background-color: rgb(71, 180, 235);
    padding: 1vw;
    border-radius: 0.3vw;
    cursor: pointer;
}

.dados-equipamentos p:hover, .btn-voltar-classificados:hover{
    background-color: rgb(35, 167, 233);
}
  
/* FILTROS */
.filtros {  
    width: 20%;
    /* height: 0%; */
    padding: 1vw;
    background-color: #f8f8f8;
    border-radius: 0.3vw;
    box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);
    border: 0.1vw solid rgb(231, 231, 231);
    margin-bottom: 2vw;
}
  
.filtros form {
    display: flex;
    flex-direction: column;
    height: auto;
}
  
.filtros fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
  
.filtros legend, .legend {
    font-weight: bold;
    margin-bottom: 1vw;
    color: #232323;
    font-size: 1.1vw;
}
  
.filtros label {
    display: block;
    margin-bottom: 0.5vw;
}
  
.filtros input[type="text"],
.filtros input[type="number"],
.filtros input[type="radio"]{
    width: 100%;
    padding: 0.5vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.3vw;
}

.filtros input[type="radio"]{
    width: 10% !important;
    padding: 0 !important;
}

.select-tipo {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1vw;
    margin-bottom: 0.5vw;
    text-align: start;
}

.input-group-filtro{
    margin-top: -1vw;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.input-50{
    width: 45%;
}

.mapa-classificados{
    padding: 0vw 7vw;
    margin-bottom: 5vw;
}

@media only screen and (max-width: 1024px) {

    .info-classificados{
        padding: 2vw;
    }

    .endereco p, .telefone p, .whatsapp p{
        font-size: 1.5vw;
        letter-spacing: 0vw;
    }

    .links-classificados{
        padding: 0 2vw; 
    }

    .menu{
        letter-spacing: 0vw;
        font-size: 1.8vw;
    }

    .faWhatsapp, 
    .faFacebook,
    .faInstagram,
    .faBars{
        font-size: 2.5vw;
        cursor: pointer;
    } 

    .faPhone,
    .faMapMarkerAlt{
        font-size: 2.25vw;
    }

    .title-page h3{
        font-size: 4vw;
    }
    
    .title-page p{
        margin-top: 0.5vw;
        padding-bottom:  1.5vw;
        font-size: 2vw;
    }

    .main-container {
        padding: 0 7vw;
        margin-bottom: 5vw;
    }

    .equipamentos {
        width: 73%;
    }
  
    .card-equipamento {
        width: 45%;
        height: auto;
        border-radius: 1vw;
        margin: 0 1.5vw 3vw 1.5vw;
        border: 0.2vw solid rgba(0, 0, 0, 0.161);
        box-shadow: 0 0.2vw 0.5vw rgba(0, 0, 0, 0.080), 0 6px 16px rgba(0, 0, 0, 0.080); /* Efeito de sombra suave */

    }

    .img-equipamento img {
        width: 100%;
        height: 21vw;
        border-radius: 1vw 1vw 0 0;
    }

    .dados-peca-implemento > h4, .dados-maquinas > h4{
        font-size: 1.8vw;
    }
    
    .dados-peca-implemento > h5, .dados-maquinas > h5{
        font-size: 1.5vw;
        margin-top: 0.9vw;
    }
    
    .dados-equipamentos p, .btn-voltar-classificados{
        font-size: 1.7vw;
        margin-top: 1.3vw;
        letter-spacing: 0.16vw;
        border-radius: 0.5vw;
    }

    .filtros {  
        width: 25%;
        padding: 1.3vw;
        border-radius: 1vw;
        border: 0.2vw solid rgb(231, 231, 231);
    }

    .filtros legend, .legend {
        margin-bottom: 2vw;
        font-size: 1.4vw;
    }
      
    .filtros label {
        font-size: 1.5vw;
        margin-bottom: 1vw;
    }
      
    .filtros input[type="text"],
    .filtros input[type="number"],
    .filtros input[type="radio"]{
        padding: 0.8vw;
        border: 0.1vw solid #ccc;
        border-radius: 0.5vw;
        font-size: 1.5vw;
    }

    .filtros input[type="text"]::placeholder,
    .filtros input[type="number"]::placeholder{
        font-size: 1.5vw;
    }

    .mapa-classificados > .mapa-endereco {
        margin-bottom: 1vw;
    }

    .faMapMarkerAltMobile{
        font-size: 1.8vw
    } 

    .mapa-classificados > .mapa-endereco > p{
        font-size: 1.5vw;
        margin-left: 0.7vw;
    }
}

@media only screen and (max-width: 768px) {

    .info-classificados{
        padding: 2vw 5vw;
    }

    .img-logo img{
        width: 8vw;
    }

    .telefone p, .whatsapp p{
        font-size: 2.5vw;
    }

    .faWhatsapp, 
    .faFacebook,
    .faInstagram,
    .faBars{
        font-size: 3.5vw;
        cursor: pointer;
    } 

    .faPhone{
        font-size: 3vw;
    }

    .endereco-container{
        display: none;
    }

    .links-classificados-mobile{
        display: flex;
    }

    .links-classificados-desktop{
        display: none;
    }

    .links-classificados-box-mobile > article{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(232, 167, 17);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.080), 0 6px 16px rgba(0, 0, 0, 0.080); /* Efeito de sombra suave */
        margin-top: -0.2vw;
        padding: 1.5vw 5vw; 
       
    }
    
    .menu-mobile{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        list-style: none;
        letter-spacing: 0.2vw;
        padding: 2vw 5vw;
        font-weight: bold;
        font-size: 2vw;
        color: rgb(47, 47, 47);
        background-color: rgb(232, 167, 17);
        border-top: 0.3vw solid rgba(0, 0, 0, 0.177);
    }

    .menu-mobile{
        display: none;
    }
    
    .menu-mobile > li{
        padding: 1.5vw 0;
        text-decoration: underline;

    }

    .menu-mobile > li > .link-menu{
        padding: 1.5vw;
    }
    
    .menu-mobile > li:hover{
        background-color: rgb(50, 50, 50);
        color: white;
        cursor: pointer;
    }
}
 

@media only screen and (max-width: 450px) {

    .info-classificados{
        padding: 2vw 7vw;
    }

    .img-logo img{
        width: 13vw;
    }

    .telefone p, .whatsapp p{
        font-size: 3vw;
    }

    .faWhatsapp, 
    .faFacebook,
    .faInstagram,
    .faBars{
        font-size: 5vw;
    } 

    .faPhone{
        font-size: 4.5vw;
    }

    .links-classificados-box-mobile > article{
        box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.080), 0 6px 16px rgba(0, 0, 0, 0.080); /* Efeito de sombra suave */
        padding: 2vw 7vw; 
       
    }
    
    .menu-mobile{
        letter-spacing: 0.3vw;
        padding: 2.5vw 7vw;
        font-size: 3.5vw;
    }
    
    .menu-mobile > li{
        padding: 2vw 0;
    }

    .title-page h3{
        margin-top: 6vw;
        font-size: 5vw;
    }
    
    .title-page p{
        margin-top: 0.7vw;
        padding-bottom:  1.7vw;
        font-size: 3vw;
    }

    .container-equipamentos{
        margin-top: 3vw;
    }

    .equipamentos {
        width: 63%;
    }
  
    .card-equipamento {
        width: 100%;
        border: 0.2vw solid rgba(0, 0, 0, 0.161);
        box-shadow: 0 0.1vw 0.35vw rgba(0, 0, 0, 0.080), 0 6px 16px rgba(0, 0, 0, 0.080); /* Efeito de sombra suave */
    }

    .card-equipamento:hover {
        box-shadow: 0 0.3vw 1vw rgba(0, 0, 0, 0.186), 0 6px 16px rgba(0, 0, 0, 0.080); /* Efeito de sombra suave */
    }

    .img-equipamento img {
        height: 40vw;
    }

    .dados-equipamentos{
        padding: 3vw;
    }

    .dados-peca-implemento > h4, .dados-maquinas > h4{
        font-size: 2.5vw;
    }
    
    .dados-peca-implemento > h5, .dados-maquinas > h5{
        font-size: 2.3vw;
        margin-top: 0.9vw;
    }
    
    .dados-equipamentos p, .btn-voltar-classificados{
        font-size: 2.8vw;
        margin-top: 2vw;
        letter-spacing: 0.3vw;
        border-radius: 0.7vw;
    }

    .filtros {  
        width: 35%;
        padding: 2vw;
    }

    .filtros legend, .legend {
        margin-bottom: 2vw;
        font-size: 2.5vw;
    }
      
    .filtros label {
        font-size: 2.5vw;
        margin-bottom: 1.5vw;
    }
      
    .filtros input[type="text"],
    .filtros input[type="number"],
    .filtros input[type="radio"],
    .filtros input[type="select"],
    .select-input{
        padding: 0.8vw;
        border: 0.2vw solid #ccc;
        border-radius: 0.5vw;
        font-size: 2.8vw;
    }

    .filtros input[type="text"]::placeholder,
    .filtros input[type="number"]::placeholder,
    .filtros input[type="select"]::placeholder{
        font-size: 2.8vw;
    }

    .mapa-classificados > .mapa-endereco {
        margin-bottom: 2vw;
    }

    .faMapMarkerAltMobile{
        font-size: 2.3vw
    } 

    .mapa-classificados > .mapa-endereco > p{
        font-size: 2.5vw;
        margin-left: 1vw;
    }
}