/* Reset de estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos principais */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw !important;
    margin-left: 0vw;
    background: linear-gradient(135deg, #ff9100, #fccd34);
    font-family: "Roboto", sans-serif;
}

.login-box {
    background: rgba(255, 255, 255, 0.9);
    max-width: 50vw;
    padding: 2vw 3vw;
    border-radius: 1vw;
    box-shadow: 0 0.8vw 1.6vw rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 2vw;
    margin-bottom: 2vw;
    color: #4a4a4a;
}

.error-message {
    color: #e63946;
    font-size: 1.2vw;
    margin-bottom: 1vw;
}

.success-message {
    color: #2a9d8f;
    font-size: 1.2vw;
    margin-bottom: 1vw;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

label {
    font-size: 1.1vw;
    color: #4b4b4b;
    text-align: left;
    display: block;
}

input {
    width: 100%;
    padding: 1.5vw 1vw;
    font-size: 1.2vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.5vw;
}

button {
    padding: 1vw 0;
    font-size: 1.3vw;
    font-weight: bold;
    letter-spacing: 0.1vw;
    color: #fff;
    background: #d58a00;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ba7900;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5vw;
}

.links a {
    font-size: 1.1vw;
    color: #000000;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

/* Estilos responsivos para tablets */
@media (max-width: 768px) {
    .login-box {
        width: 90vw;
        max-width: 60vw;
        padding: 6v 5vw;
    }

    h1 {
        font-size: 5vw;
    }

    input, button {
        font-size: 2.5vw;
    }

    .links a {
        font-size: 2vw;
    }
}

/* Estilos responsivos para celulares */
@media (max-width: 480px) {
    .login-box {
        width: 90vw;
        max-width: 80vw;
        padding: 7vw 6vw;
        border-radius: 4vw;
    }

    h1 {
        font-size: 5vw;
    }

    input, button {
        font-size: 2.5vw;
        padding: 2vw 1.5vw;
    }

    .links {
        flex-direction: column;
        gap: 1vw;
    }

    .links a {
        font-size: 2vw;
    }
}
