* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-main-children-cadastrar{
    padding: 1vw 2vw;
}

.content-main-children-cadastrar .title{
    color: black;
    font-size: 2.5vw;
    margin-bottom: 2vw;
}

form {
    display: flex;
    flex-direction: column;
}
  
form section {
    margin-bottom: 1.5vw;
}
  
label {
    font-weight: 500;
    display: block;
    font-size: 1.2vw;
    color: #1d1d1d;
}
  
input[type="text"],
input[type="date"],
input[type="number"],
select,
textarea,
.ck-editor__editable,
.datalist {
    width: 100%;
    padding: 0.6vw;
    margin-top: 0.4vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.4vw;
    font-size: 1.1vw;
    background-color: white;
    color: #1d1d1d;
}
  
textarea {
    height: 8vw;
    resize: vertical;
}

.ck-editor__editable {
    min-height: 5vw;
}

input::placeholder{
    color: #8f8f8f;
    font-weight: 500;
    font-size: 1vw;
}

.input-group{
    display: flex;
    gap: 2vw;
    align-items: center;
    margin: 0;
}

.input-group-equipamento{
    display: flex !important;
    gap: 2vw;
    align-items: initial;
    margin: 2vw 0;
}

.input-group > section{
    width: 50%;
}
  
.itens-locacao{
    border: 1px solid rgb(179, 179, 179);
    padding: 1vw;
    border-radius: 0.4vw;
    margin: 1vw 0 2vw 0;
}

.itens-locacao-header{
    display: flex;
    justify-content: space-between;
    margin: 1vw 0;
}

.itens-locacao-header p{
    color: #1d1d1d;
    font-size: 1.6vw;
    font-weight: bold;
}

.input-equipamento{
    width: 80% !important;
}

.input-quantidade{
    width: 20% !important;
}

.input-cliente{
    width: 97% !important;
}

.box-cadastrar-cliente{
    width: 3% !important;
    display: flex;
    justify-content: center;

}

.tipo-equipamento{
    display: flex;
    gap: 2vw;
    margin: 0.7vw 0 2vw 0;
}

.msg-obs{
    font-weight: bold;
    font-size: 1vw;
    color: rgb(194, 142, 0);
    margin-top: 0.5vw;
}

.thead-itens-locacao, .tbody-itens-locacao{
    font-size: 1.2vw;
}

.itens-locacao-footer{
    margin-top: 4vw;
    display: flex;
    gap: 0.4vw;
    align-items: center;
    font-size: 1.3vw;
    color: #1d1d1d;
}
  
.valor-total-box{
    padding: 0.4vw 0.7vw;
    border: 0.1vw solid rgb(126, 126, 126);
    border-radius: 0.4vw;
}

.content-main-children-cadastrar .container-btn{
    display: flex;
    justify-content: end;
    margin: 2vw 0;
}

.content-main-children-cadastrar .btn-cadastrar, .btn-voltar, .btn-alterar, .btn-add    {
    padding: 0.8vw 2vw;
    font-weight: 500;
    border-radius: 0.5vw;
    font-size: 1.2vw;
    margin-left: 2vw;
    cursor: pointer;
}

.content-main-children-cadastrar .btn-cadastrar, .btn-alterar{
    background-color: rgb(0, 110, 255);
    color: white;
    border: 0.1vw solid rgb(26, 118, 238);
}

.content-main-children-cadastrar .btn-cadastrar:hover, .btn-alterar:hover{   
    background-color: rgb(32, 129, 255);
}

.content-main-children-cadastrar .btn-voltar{
    background-color: rgb(219, 219, 219);
    color: rgb(54, 54, 54);
    border: 0.1vw solid rgb(199, 199, 199);
}

.content-main-children-cadastrar .btn-voltar:hover{   
    background-color: rgb(206, 206, 206);
}

.content-main-children-cadastrar .btn-add{
    background-color: rgb(218, 143, 30);
    color: white;
    border: 0.1vw solid rgb(207, 130, 14);
}

.content-main-children-cadastrar .btn-add:hover{   
    background-color: rgb(224, 155, 51);
}

.content-main-children-cadastrar .fa-plus-circle{
    color: rgb(32, 129, 255);
    font-size: 3vw;
    font-weight: bold;
}

.content-main-children-cadastrar .fa-plus-circle:hover{
    color: rgb(55, 142, 255);
}

@media (max-width: 60vw) {
    
}
